* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #fffafa;
  color: black;
}

header {
  width: 100%;
  height: 5vh;
  background: #fffafa;
  height: 10vh;
}

.container {
  padding: 10px 10vw;
}

img {
  height: 80px;
  margin-left: -100px;
  margin-top: -4px;
  float: left;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none120;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  content: "";
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 4px;
  background: #d9376e;
  position: absolute;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.text {
  margin-top: 3%;
  font-size: 40px;
}
.text h1 {
  text-align: center;
  font-size: 60px;
}
.text p {
  margin-left: 4vw;
  font-family: monospace;
}
h1 span {
  color: #d9376e;
  display: inline-block;
  text-align: center;
  margin-top: 3%;
}

.alignment {
  margin: 0 1%;
}

.headshot {
  height: 400px;
  width: 500px;
  margin: auto;
  padding: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot img {
  height: 300px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}

#Home {
  display: block;
  width: 100%;
  height: 100vh;
  border-bottom: 10px solid #fffafa;
  background-attachment: fixed;
}

#About {
  width: 100%;
  height: 100vh;
  background: #fffafa;
  border-bottom: 10px solid #fffafa;
}

.topic-color {
  color: black;
}

.topic-color {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 4vw;
}

.p-color {
  letter-spacing: 1.5px;
  font-size: 20px;
  color: black;
  padding: 8% 10% 10% 10%;
}

.text-box {
  height: 55vh;
  width: 85vh;
  float: right;
  margin-top: 5vh;
  margin-right: 30vw;
  border: 5px solid;
  border-image: linear-gradient(to top right, #fffafa, black, #fffafa) 1;
}
#Projects {
  width: 100%;
  height: 100vh;
  background: #fffafa;
  border-bottom: 10px solid #fffafa;
}

#Contact {
  width: 100%;
  height: 100vh;
  background: #fffafa;
}

.text-box-contact {
  width: 60vw;
  height: 60vh;
  border: 5px solid black;
  border-radius: 10px;
  float: right;
  margin-top: 10vh;
  margin-right: 10vw;
}

#legend-correction {
  margin-left: 3vw;
  font-size: 30px;
  color: black;
}
#legend-correction h1 {
  color: black;
}

fieldset {
  padding: 2vw;
}

label {
  display: block;
  margin: 3vh;
}

form textarea,
form input {
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  margin-top: -22px;
  font-size: 18px;
}

::placeholder {
  color: gray;
  font-size: 18px;
}

#submit-button {
  width: 15%;
  float: right;
  margin-right: 55vw;
  margin-top: 5vh;
  background-color: #fffafa;
  border: 2.5px solid black;
  border-radius: 10px;
}

#submit-button:hover {
  cursor: pointer;
}

#submit-button:active {
  background-color: #d9376e;
  opacity: 0.8;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
  color: black;
}

input:focus,
textarea:focus {
  background-color: #fffafa;
}
